*{
margin: 0;
padding: 0;
box-sizing: border-box;
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.btns{
    display: flex;
    flex-direction: column;
    gap: 5px;
    margin: auto;
}

.calculator{
    display: flex;
    flex-direction: column;
    border: 2px solid black;
    height: 600px;
    width: 400px;
    border-radius: 15px;
    background-color: rgb(211, 205, 205);
}

.screen{
    height: 100px;
    margin: 20px;
    border: 2px solid black;
    border-radius: 10px;
    background-color: rgb(239, 239, 239);
}

.content{
    margin: 20px;
    font-size: 40px;
    text-align: end;
}

button{
    height: 80px;
    width: 80px;
    font-size: 30px;
    border: 2px solid black;
}

button.clear{
    width: 114px;
}

button.delete{
    width: 130px;
}